# Default ignored files
/../../접속자_대기_시스템/.idea/shelf/
/../../접속자_대기_시스템/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../접속자_대기_시스템/.idea/httpRequests/
# Datasource local storage ignored files
/../../접속자_대기_시스템/.idea/dataSources/
/../../접속자_대기_시스템/.idea/dataSources.local.xml
